@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap')
$white:#fff
$blue:#00f
html, body
  min-height: 100%
  height: auto
  font-antialiasing: antialiased
  font-family: 'Space Mono', monospace

#app
  canvas
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    z-index: -1

  .audioContainer
    display: flex
    height: 100px
    justify-content: center
    align-items: center
    gap: 1px
    position: absolute
    bottom: 40px
    right: 0px
    width: 70%
    z-index: 20
    

  .box
    flex: 1
    height: 100%
    scale: 1 0
    background: white
    transform-origin: left bottom

  audio
    position: absolute
    bottom: 40px
    left: 40px
    z-index: 1
    
.ui
  opacity: 0
  .buttons
    position: absolute
    bottom: 20px
    left: 20px
    button
      border: 1px solid $white
      color: $white
      font-size: 15px
      padding: 5px 20px
      background: transparent
      cursor: pointer
  &.show
    opacity: 1
  .tweakpane
    position: absolute
    z-index: 1000
    right: 0
    top: 0